@import "variables";

footer {
  background: $bg;

  div.footerflex {
    display: flex;
    justify-content: space-between;
    align-items:center;

    ul.menu {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        a {
          color: $text-white;
          text-decoration: none;
          display: block;
          font-size: 1rem;
          line-height: 1.5rem;
          padding: 0.5rem;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    div.footerlinks {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap:0.75rem;
      & > a {
        display: block;
        height: 3rem;
        padding:1rem;

        &:hover svg {
          background-color: #efcf93;
        }
        svg {
          background-color: $orange;
          border-radius: 3rem;
        }
      }
    }
  }

  div.site-branding {
    padding: 1.5rem 0;
    text-align:center;
    a {
      display: block;
     img{
      display: block;
      height: 96px;
      width: 100px;
     }
    }
  }
}
