@import "variables";

body,
button {

  // color: $text-white; // during inspect this element didn't work
  font-family: "Montserrat", sans-serif;
  // line-height: 1.5; // during inspect this element didn't work
  letter-spacing: 1px;
}


h1,
h2,
h3,
h4,
h5,
h6,
section.socialmedia p.latestfrom {
  font-family: "Rift", sans-serif;
  font-weight: bold;
  color: $orange;
  margin: 0 0 1.5rem 0;
  padding: 0;
  text-align: center;
  text-shadow: 0 0 10px #c97d12;
}

h1 {
  font-size: clamp(2.5rem, 0.9516rem + 7.7419vw, 4rem);
  line-height: clamp(4.5rem, 2.9516rem + 7.7419vw, 6rem);

  &.frontpage-h1 {
    line-height:clamp(1.5rem, -0.0484rem + 7.7419vw, 3rem);

    span {
      font-size: clamp(1.5rem, 0.4677rem + 5.1613vw, 2.5rem);
    }
  }
}

h2 {
  font-size: clamp(2rem, 0.9677rem + 5.1613vw, 3rem);
  line-height: clamp(3rem, 1.4516rem + 7.7419vw, 4.5rem);
  &.frontpage-h2 {
    margin-top: -1.5rem;
    background-color:$bg;
    z-index:1;
    position:relative;
    display:inline-block;
    padding: 0 0.75rem;
    border-radius:3px;
    border: 2px solid $text-white;
    box-shadow: 0 0 10px $text-white;
  }
}

h3 {
  font-size: clamp(1.75rem, 0.9758rem + 3.871vw, 2.5rem);
  line-height: 3rem;
  color: $text-white;
  text-shadow: 0 0 5px $text-white;
}

p {
  font-size: clamp(1.125rem, 0.996rem + 0.6452vw, 1.25rem);
  line-height: 1.5rem;
  color: $text-white;
  margin: 1.5rem 0;
  &.socialhandle {
    font-family: "Rift", sans-serif;
    text-align:center;
    font-weight:normal;
  }
}

section.socialmedia p.latestfrom {
  font-size: clamp(1.25rem, 0.9919rem + 1.2903vw, 1.5rem);
  margin-top: 1.5rem;
}


nav {
  font-size: 2rem;
  font-family: "Rift", sans-serif;
  font-weight: bold;
  line-height: 3rem;
}

.booking-options li {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: $text-white;
  margin: 1rem;
}

.pos {
  font-weight: bold;
}