.flex-title {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.flex-title img {
    max-width: none;
    z-index: -1;
    position: absolute;
    min-height: 100%;
}
.vid{
    margin-top: 2rem;
}
// events
.events {
    margin: 3rem 0 2rem 0;
}

.booking-options {
    padding-bottom: 2rem;
}

@media screen and (min-width: 630px){
    .poy-info{
        display: flex;
        flex-direction: column;
        align-items: center;
     }
    
     .poy-info a{
        justify-content:center;
     }
}

@media screen and (min-width: 60rem){
 
}