.button a {
    margin: 2rem auto;
    display: block;
    width: 190px;
    padding: 0.25rem;
    font-family: "rift", sans-serif;
    text-align: center;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 1.5rem;
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #AE2012;
    background-color: #cc0033;
    box-shadow: 0 0 10px #cc0033;
    border-radius: 3px;

}

.power-of-yes h2 {
    text-align: center;
}