body {
  background: #131313;
  margin: 0;
  padding: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23313131' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  font-size: 100%;
  line-height: 1.5rem;
  /*visual grid;*/
  /*typographic scale*/
  /* 12, 14, 16, 18, 21, 24, 36, 48, 60, 72*/
  margin: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.skinny-container {
  max-width: 630px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.contact-container {
  max-width: 630px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

img,
iframe {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

img {
  height: auto;
  margin-bottom: 1.5rem;
}

iframe {
  height: 250px;
}

div.center-container {
  text-align: center;
  max-width: 960px;
  margin: 0 auto;
}

.button-style {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #ffffff;
  text-decoration: none;
  background-color: #cc0033;
  box-shadow: 0 0 5px #cc0033;
  border-radius: 3px;
  padding: 0.75rem;
  margin: 0 auto;
  display: inline-block;
}
.button-style:hover {
  box-shadow: 0 0 10px #cc0033, 0 0 20px #cc0033, 0 0 20px #fffcf5 inset;
}

input,
select,
optgroup,
textarea {
  color: #131313 !important;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
}

.contact-link {
  text-decoration: none;
  color: #ffffff;
}

.vid {
  margin-top: 1.5rem;
  max-height: 300px;
}

@media screen and (min-width: 52rem) {
  .contact-container {
    max-width: 960px;
  }
  img {
    max-width: 100%;
  }
  iframe {
    max-width: 600px;
    max-height: 400px;
  }
  section.what-we-do > div.center-container,
  section.about-atomic-improv > div.center-container {
    text-align: left;
  }
}
body,
button {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;
  font-weight: normal;
  color: #fead39;
  margin: 0 0 1.5rem 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 1px #131313, -1px 1px 1px #131313, 1px -1px 1px #131313, -1px -1px 1px #131313, 0 0 5px #c97d12;
  text-transform: uppercase;
}

h1 {
  font-size: clamp(2.5rem, 0.9516rem + 7.7419vw, 4rem);
  line-height: clamp(4.5rem, 2.9516rem + 7.7419vw, 6rem);
}
h1.frontpage-h1 {
  line-height: clamp(1.5rem, -0.0484rem + 7.7419vw, 3rem);
  margin-top: 1.5rem;
}
h1.frontpage-h1 span {
  font-size: clamp(1.5rem, 0.4677rem + 5.1613vw, 2.5rem);
}
h1.margin-top-h1 {
  margin-top: 1.5rem;
}

h2 {
  font-size: clamp(2rem, 0.9677rem + 5.1613vw, 3rem);
  line-height: clamp(3rem, 1.4516rem + 7.7419vw, 4.5rem);
}
h2.frontpage-h2 {
  margin-top: -1.5rem;
  background-color: #131313;
  z-index: 1;
  position: relative;
  display: inline-block;
  padding: 0.4rem 1.25rem 0;
  border-radius: 3px;
  border: 2px solid #fffcf5;
  box-shadow: 0 0 10px #fffcf5;
}

h3 {
  font-size: clamp(1.75rem, 0.9758rem + 3.871vw, 2.5rem);
  line-height: 3rem;
  color: #fffcf5;
  text-shadow: 0 0 5px #fffcf5;
}

p {
  font-size: clamp(1.125rem, 0.996rem + 0.6452vw, 1.25rem);
  line-height: 1.5rem;
  color: #fffcf5;
  margin: 0 0 1.5rem;
}
p.socialhandle {
  font-family: "Teko", sans-serif;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 1.5rem;
  font-size: 2rem;
  line-height: 3rem;
}

section.socialmedia p.latestfrom {
  font-size: clamp(1.25rem, 0.9919rem + 1.2903vw, 1.5rem);
  margin-top: 1.5rem;
}

nav {
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 3rem;
}

.booking-options li {
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: #fffcf5;
  margin: 1rem;
}

.pos {
  font-weight: bold;
}

@media screen and (min-width: 52rem) {
  h2 {
    text-align: left;
  }
  h2.frontpage-h2 {
    margin-top: -3rem;
    margin-left: 7.5rem;
  }
}
header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
header .header-flex div.site-branding a {
  display: block;
}
header .header-flex div.site-branding a img {
  height: 96px;
  max-width: 100px !important;
  margin: 0;
}
header .header-flex nav {
  z-index: 4;
}
header .header-flex nav a.menu-toggle {
  display: block;
}
header .header-flex nav a.menu-toggle svg {
  padding: 16px;
  display: block;
}
header .header-flex nav a.menu-toggle:hover {
  cursor: pointer;
}
header .header-flex nav div.menu-navigation-container ul.menu {
  list-style: none;
  position: absolute;
  left: 0;
  top: 144px;
  max-height: 0;
  overflow: hidden;
  background: #131313 url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23313131' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  padding: 0;
  margin: 0;
  width: 100%;
  transition: all 0.5s ease-in-out;
  border-bottom: 2px solid #cc0033;
}
header .header-flex nav div.menu-navigation-container ul.menu li {
  text-align: center;
  padding: 0 1.5rem;
}
header .header-flex nav div.menu-navigation-container ul.menu li a {
  display: block;
  padding: 0.75rem 0;
  color: #fffcf5;
  text-decoration: none;
}
header .header-flex nav div.menu-navigation-container ul.menu li a:hover {
  -webkit-text-decoration: underline #fead39;
          text-decoration: underline #fead39;
}
header .header-flex nav div.menu-navigation-container ul.menu li:last-of-type {
  background-color: #cc0033;
  box-shadow: 0 0 10px #cc0033;
  border-radius: 3px;
  margin: 0 1.5rem;
}
header .header-flex nav div.menu-navigation-container ul.menu li:last-of-type:hover {
  -webkit-text-decoration: underline #fffcf5;
          text-decoration: underline #fffcf5;
  box-shadow: 0 0 10px #cc0033, 0 0 20px #cc0033, 0 0 20px #fffcf5 inset;
}
header .header-flex nav.toggled div.menu-navigation-container ul.menu {
  max-height: 25.625rem;
  padding: 1.5rem 0;
}

@media screen and (min-width: 52rem) {
  header {
    border-bottom: 2px solid #cc0033;
  }
  header .header-flex nav a.menu-toggle {
    display: none;
  }
  header .header-flex nav div.menu-navigation-container ul.menu {
    position: static;
    max-height: unset;
    background: unset;
    width: unset;
    border-bottom: none;
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  header .header-flex nav div.menu-navigation-container ul.menu li {
    text-align: right;
    padding: 0;
  }
  header .header-flex nav div.menu-navigation-container ul.menu li a {
    font-size: 1.5rem;
    line-height: 3rem;
    padding: 0;
  }
  header .header-flex nav div.menu-navigation-container ul.menu li:last-of-type {
    margin: 0;
  }
  header .header-flex nav div.menu-navigation-container ul.menu li:last-of-type a {
    padding: 0 0.5rem;
  }
  header .header-flex nav.toggled div.menu-navigation-container ul.menu {
    max-height: 40rem;
    padding: 1.5rem 0;
  }
}
section {
  margin-bottom: 3rem;
}

div.hero {
  padding: 1.5rem;
  background: local center/cover;
}
div.hero div.hero-content {
  text-align: center;
}
div.hero div.hero-content h1 {
  margin-bottom: 12rem;
}
div.hero div.hero-content p {
  color: #fead39;
  text-shadow: 0 0 10px #c97d12;
}

a.img-link img {
  border: 2px solid #fffcf5;
  box-shadow: 0 0px 5px #ffffff;
  width: calc(100% - 4px);
}

section.socialmedia div.social-media-title-container,
section.community-socials div.social-media-title-container {
  margin: 0 auto;
  max-width: 350px;
}
section.socialmedia div.socialflex section div.social-content,
section.community-socials div.socialflex section div.social-content {
  margin: 0 auto 1.5rem;
  max-width: 400px;
  width: 80%;
}
section.socialmedia div.socialflex section div.social-content > div,
section.community-socials div.socialflex section div.social-content > div {
  background: #fffcf5;
  border-radius: 1rem;
  padding: 0.75rem !important;
  height: 600px;
  overflow: auto;
}
section.socialmedia div.socialflex section div.social-content > div a.sbi_photo,
section.community-socials div.socialflex section div.social-content > div a.sbi_photo {
  margin-bottom: 0.75rem;
}
section.socialmedia div.socialflex section div.social-content > div h3,
section.community-socials div.socialflex section div.social-content > div h3 {
  color: #202020;
}
section.socialmedia div.socialflex section div.social-content > div div.cff-visual-header,
section.community-socials div.socialflex section div.social-content > div div.cff-visual-header {
  display: none;
}

iframe {
  margin: 0 auto 1.5rem;
}

div.icon-flex {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1.5rem;
}
div.icon-flex * {
  width: 0;
  flex: 1;
}

@media screen and (min-width: 52rem) {
  section.top {
    background: #131313;
  }
  section.top div.hero {
    max-width: 960px;
    margin: 0 auto;
  }
  section.top div.hero h1 {
    margin-bottom: 18rem;
  }
  section.what-we-do,
  section.about-atomic-improv {
    border-top: 2px solid #fffcf5;
  }
  section.what-we-do {
    margin-top: 6rem;
  }
  a.img-link {
    display: none;
  }
  .content-flex {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    align-items: center;
  }
  .flex-item {
    max-width: calc(50% - 0.75rem);
    flex: 1 0 50%;
  }
  div.icon-flex {
    display: block;
    margin-bottom: 0;
  }
  div.icon-flex * {
    width: auto;
  }
  div.socialflex {
    display: flex;
    gap: 1.5rem;
    width: 100%;
    /* padding: 1rem; */
  }
  div.socialflex section {
    width: 0;
    flex: 1;
  }
  .contact-us {
    align-items: flex-start;
  }
  .item-1 {
    order: 1;
  }
  .item-2 {
    order: 2;
  }
  .item-3 {
    order: 3;
  }
  .item-4 {
    order: 4;
  }
}
footer {
  background: #131313;
}
footer div.footerflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer div.footerflex ul.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
footer div.footerflex ul.menu li a {
  color: #fffcf5;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 0.5rem;
}
footer div.footerflex ul.menu li a:hover {
  text-decoration: underline;
}
footer div.footerflex div.footerlinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.75rem;
}
footer div.footerflex div.footerlinks > a {
  display: block;
  height: 3rem;
  padding: 1rem;
}
footer div.footerflex div.footerlinks > a:hover svg {
  background-color: #efcf93;
}
footer div.footerflex div.footerlinks > a svg {
  background-color: #fead39;
  border-radius: 3rem;
}
footer div.site-branding {
  padding: 1.5rem 0;
  text-align: center;
  padding: 1.5rem 0;
  text-align: center;
}
footer div.site-branding a {
  display: inline-block;
}
footer div.site-branding a img {
  display: block;
  height: 96px;
  width: 100px;
}/*# sourceMappingURL=main.css.map */